#updateSection{
    display: none;
}

.clear{
    border: none;
    position: absolute;
    left: 30x;
    left: 160px;
    margin-bottom: 0;
    /* margin-top: 0; */
    padding: 0;
    font-weight: bolder;
    font-size: large;
    background-color: white;
    color: red;
}

.replace{
    border: none;
    position: absolute;
    left: 30x;
    left: 175px;
    margin-bottom: 0;
    /* margin-top: 2px; */
    padding: 0;
    font-weight: bolder;
    background-color: white;
    /* color: red; */
}